{{if eq .Env.DASPANEL_SYS_HOSTNAME "daspanel.site" -}}
    # IMPORTANT = Only self signed SSL certificates can be used while running Daspanel in local mode (daspanel.site == 127.0.0.1)
    # default port binded
    {{ (datasource "cfg").sys.hostname }}:80 {
        redir 301 {
            /  https://{host}{uri}
        }
    }
    {{ (datasource "cfg").sys.hostname }}:443 {
        log / stdout "[DASPANEL-LB-ACCESSLOG] {when_iso} {remote} daspanel-engine-static:443 {host} {uri} {proto} {status} {size} {latency}" 
        errors stdout
        gzip
        tls /opt/daspanel/data/{{getenv "DASPANEL_SYS_UUID"}}/certs/self/{{ (datasource "cfg").sys.hostname }}/{{ (datasource "cfg").sys.hostname }}.bundle.cert.pem /opt/daspanel/data/{{getenv "DASPANEL_SYS_UUID"}}/certs/self/ca/root.key.pem
        proxy / https://daspanel-engine-static {
            policy least_conn
            transparent
            insecure_skip_verify
        }
    }
    admin.{{ (datasource "cfg").sys.hostname }}:80 {
        redir 301 {
            /  https://{host}{uri}
        }
    }
    admin.{{ (datasource "cfg").sys.hostname }}:443 {
        log / stdout "[DASPANEL-LB-ACCESSLOG] {when_iso} {remote} daspanel-panel:5000 {host} {uri} {proto} {status} {size} {latency}" 
        errors stdout
        tls /opt/daspanel/data/{{getenv "DASPANEL_SYS_UUID"}}/certs/self/{{ (datasource "cfg").sys.hostname }}/{{ (datasource "cfg").sys.hostname }}.bundle.cert.pem /opt/daspanel/data/{{getenv "DASPANEL_SYS_UUID"}}/certs/self/ca/root.key.pem
        proxy / daspanel-panel:5000 {
            header_upstream X-Forwarded-Proto {scheme}
            header_upstream Host {host}
            header_upstream X-Real-IP {remote}
            header_upstream X-Forwarded-For {remote}
        }
    }
    api.{{ (datasource "cfg").sys.hostname }}:80 {
        redir 301 {
            /  https://{host}{uri}
        }
    }
    api.{{ (datasource "cfg").sys.hostname }}:443 {
        log / stdout "[DASPANEL-LB-ACCESSLOG] {when_iso} {remote} daspanel-api:8080 {uri} {proto} {status} {size} {latency}" 
        errors stdout
        tls /opt/daspanel/data/{{getenv "DASPANEL_SYS_UUID"}}/certs/self/{{ (datasource "cfg").sys.hostname }}/{{ (datasource "cfg").sys.hostname }}.bundle.cert.pem /opt/daspanel/data/{{getenv "DASPANEL_SYS_UUID"}}/certs/self/ca/root.key.pem
        proxy / daspanel-api:8080

    }
    s3.svc.{{ (datasource "cfg").sys.hostname }}:80 {
        redir 301 {
            /  https://{host}{uri}
        }
    }
    s3.svc.{{ (datasource "cfg").sys.hostname }}:443 {
        log / stdout "[DASPANEL-LB-ACCESSLOG] {when_iso} {remote} daspanel-storage:9000 {host} {uri} {proto} {status} {size} {latency}" 
        errors stdout
        tls /opt/daspanel/data/{{getenv "DASPANEL_SYS_UUID"}}/certs/self/{{ (datasource "cfg").sys.hostname }}/{{ (datasource "cfg").sys.hostname }}.bundle.cert.pem /opt/daspanel/data/{{getenv "DASPANEL_SYS_UUID"}}/certs/self/ca/root.key.pem
        proxy / daspanel-storage:9000 {
            header_upstream X-Forwarded-Proto {scheme}
            header_upstream X-Forwarded-Host {host}
            header_upstream Host {host}
        }
    }
    mail.svc.{{ (datasource "cfg").sys.hostname }}:80 {
        redir 301 {
            /  https://{host}{uri}
        }
    }
    mail.svc.{{ (datasource "cfg").sys.hostname }}:443 {
        log / stdout "[DASPANEL-LB-ACCESSLOG] {when_iso} {remote} daspanel-mail-catcher:8025 {host} {uri} {proto} {status} {size} {latency}" 
        errors stdout
        tls /opt/daspanel/data/{{getenv "DASPANEL_SYS_UUID"}}/certs/self/{{ (datasource "cfg").sys.hostname }}/{{ (datasource "cfg").sys.hostname }}.bundle.cert.pem /opt/daspanel/data/{{getenv "DASPANEL_SYS_UUID"}}/certs/self/ca/root.key.pem
        proxy / daspanel-mail-catcher:8025 {
            header_upstream X-Forwarded-Proto {scheme}
            header_upstream X-Forwarded-Host {host}
            header_upstream Host {host}
        }
    }
    adminer.svc.{{ (datasource "cfg").sys.hostname }}:80 {
        redir 301 {
            /  https://{host}{uri}
        }
    }
    adminer.svc.{{ (datasource "cfg").sys.hostname }}:443 {
        log / stdout "[DASPANEL-LB-ACCESSLOG] {when_iso} {remote} daspanel-services:443 {host} {uri} {proto} {status} {size} {latency}" 
        errors stdout
        tls /opt/daspanel/data/{{getenv "DASPANEL_SYS_UUID"}}/certs/self/{{ (datasource "cfg").sys.hostname }}/{{ (datasource "cfg").sys.hostname }}.bundle.cert.pem /opt/daspanel/data/{{getenv "DASPANEL_SYS_UUID"}}/certs/self/ca/root.key.pem
        proxy / https://daspanel-services {
            policy least_conn
            transparent
            insecure_skip_verify
        }
    }
    fm.svc.{{ (datasource "cfg").sys.hostname }}:80 {
        redir 301 {
            /  https://{host}{uri}
        }
    }
    fm.svc.{{ (datasource "cfg").sys.hostname }}:443 {
        log / stdout "[DASPANEL-LB-ACCESSLOG] {when_iso} {remote} daspanel-services:443 {host} {uri} {proto} {status} {size} {latency}" 
        errors stdout
        tls /opt/daspanel/data/{{getenv "DASPANEL_SYS_UUID"}}/certs/self/{{ (datasource "cfg").sys.hostname }}/{{ (datasource "cfg").sys.hostname }}.bundle.cert.pem /opt/daspanel/data/{{getenv "DASPANEL_SYS_UUID"}}/certs/self/ca/root.key.pem
        proxy / https://daspanel-services {
            policy least_conn
            transparent
            insecure_skip_verify
        }
    }

{{else -}}
    # default port binded
    {{ (datasource "cfg").sys.hostname }}:80 {
        redir 301 {
            /  https://{host}{uri}
        }
    }
    {{ (datasource "cfg").sys.hostname }}:443 {
        log / stdout "[DASPANEL-LB-ACCESSLOG] {when_iso} {remote} daspanel-engine-static:443 {host} {uri} {proto} {status} {size} {latency}" 
        errors stdout
        gzip
        tls {
            max_certs 10
        }
        proxy / https://daspanel-engine-static {
            policy least_conn
            transparent
            insecure_skip_verify
        }
    }
    admin.{{ (datasource "cfg").sys.hostname }}:80 {
        redir 301 {
            /  https://{host}{uri}
        }
    }
    admin.{{ (datasource "cfg").sys.hostname }}:443 {
        log / stdout "[DASPANEL-LB-ACCESSLOG] {when_iso} {remote} daspanel-panel:5000 {host} {uri} {proto} {status} {size} {latency}" 
        errors stdout
        tls {
            max_certs 10
        }
        proxy / daspanel-panel:5000 {
            header_upstream X-Forwarded-Proto {scheme}
            header_upstream Host {host}
            header_upstream X-Real-IP {remote}
            header_upstream X-Forwarded-For {remote}
        }
    }
    api.{{ (datasource "cfg").sys.hostname }}:80 {
        redir 301 {
            /  https://{host}{uri}
        }
    }
    api.{{ (datasource "cfg").sys.hostname }}:443 {
        log / stdout "[DASPANEL-LB-ACCESSLOG] {when_iso} {remote} daspanel-api:8080 {uri} {proto} {status} {size} {latency}" 
        errors stdout
        tls {
            max_certs 10
        }
        proxy / daspanel-api:8080

    }
    s3.svc.{{ (datasource "cfg").sys.hostname }}:80 {
        redir 301 {
            /  https://{host}{uri}
        }
    }
    s3.svc.{{ (datasource "cfg").sys.hostname }}:443 {
        log / stdout "[DASPANEL-LB-ACCESSLOG] {when_iso} {remote} daspanel-storage:9000 {host} {uri} {proto} {status} {size} {latency}" 
        errors stdout
        tls {
            max_certs 10
        }
        proxy / daspanel-storage:9000 {
            header_upstream X-Forwarded-Proto {scheme}
            header_upstream X-Forwarded-Host {host}
            header_upstream Host {host}
        }
    }
    mail.svc.{{ (datasource "cfg").sys.hostname }}:80 {
        redir 301 {
            /  https://{host}{uri}
        }
    }
    mail.svc.{{ (datasource "cfg").sys.hostname }}:443 {
        log / stdout "[DASPANEL-LB-ACCESSLOG] {when_iso} {remote} daspanel-mail-catcher:8025 {host} {uri} {proto} {status} {size} {latency}" 
        errors stdout
        tls {
            max_certs 10
        }
        proxy / daspanel-mail-catcher:8025 {
            header_upstream X-Forwarded-Proto {scheme}
            header_upstream X-Forwarded-Host {host}
            header_upstream Host {host}
        }
    }
    adminer.svc.{{ (datasource "cfg").sys.hostname }}:80 {
        redir 301 {
            /  https://{host}{uri}
        }
    }
    adminer.svc.{{ (datasource "cfg").sys.hostname }}:443 {
        log / stdout "[DASPANEL-LB-ACCESSLOG] {when_iso} {remote} daspanel-services:443 {host} {uri} {proto} {status} {size} {latency}" 
        errors stdout
        tls {
            max_certs 10
        }
        proxy / https://daspanel-services {
            policy least_conn
            transparent
            insecure_skip_verify
        }
    }
    fm.svc.{{ (datasource "cfg").sys.hostname }}:80 {
        redir 301 {
            /  https://{host}{uri}
        }
    }
    fm.svc.{{ (datasource "cfg").sys.hostname }}:443 {
        log / stdout "[DASPANEL-LB-ACCESSLOG] {when_iso} {remote} daspanel-services:443 {host} {uri} {proto} {status} {size} {latency}" 
        errors stdout
        tls {
            max_certs 10
        }
        proxy / https://daspanel-services {
            policy least_conn
            transparent
            insecure_skip_verify
        }
    }

{{end -}}

import sites-enabled/*.conf
